---
---

@import "{{ site.theme }}";

@mixin floatBullet {
  &:before {
    position: relative;
    float: left;
    // Remove font weights
    font-style: normal;
    font-weight: normal;
    @content;
  }  
}

@mixin floatIcon {
  @include floatBullet {
    font-size: 250%;
    margin: -20px 0px 0px -27.5px;
    @content;
  }
}


@mixin callout($icon) {
  @extend table, td;
  p {
    margin: 0px;
  }
  @include floatIcon {
    content: "#{$icon}";
  }
}

// These are all free-text quoted sections.
.aside {   @include callout("✍"); }
.note {    @include callout("💡"); }  // Hmmm...
.tip {     @include callout("💡"); }
.warning { @include callout("⚠️"); }
.example { @include callout("📜"); }


// A table with a first header column
.tablecol {
  td:first-of-type {
    @extend th;
  }
}

// A definition-list table (terms descend vertically).
.dtable {
  @extend table;
  display: grid;
  grid-template-columns: 12em auto;
  gap: 2px;  // this is table.border-spacing, but we have to explicitly copy it over.
  > dt {
    @extend th;
    text-align: right;
    grid-column: 1;
    // padding: 10px;
  }
  > dd {
    @extend td;
    text-align: left;
    grid-column: 2;
    dt {
      font-weight: normal;
      font-style: italic;
    }
    dd {
     font-style: normal;
    }
  }
}

.key {
  @extend .dtable;
  > dt {
    @include floatBullet {
      font-size: 150%;
      content: "🗝️";
    }
  }
  > dd {
    font-style: italic;
    dd {
      font-style: normal;
      &:before { content: "? "; }
      &:first-of-type:before { content: "🎯 "; }
      &:last-of-type:before { content: "💔 "; }
    }
  }
}

.secret {
  @extend .dtable;

  > dt {
    @include floatBullet {
      font-size: 150%;
      content: "🤫";
    }
  }
  > dt.magic {
    &:before {
      content: "✨";
    }  
  }
  > dd {
    font-style: italic;
    dd {
      font-style: normal;
      &:before { content: "🔧 "; }
    }
    dd.prereq {
      &:before { content: "🥇 "; }
    }
  }
}

.foe {
  @extend .dtable;

  > dt {
    @include floatBullet {
      font-size: 150%;
      content: "👹";
    }
  }
  > dd {
    font-style: italic;
    // The definition-list for the stats
    dl {
      @extend .dtable;
      font-style: normal;
      > dt {
        @include floatBullet { content: "▶"; }

        &:nth-of-type(1) { @include floatBullet { content: "💪"; } }
        &:nth-of-type(2) { @include floatBullet { content: "🔎"; } }
      }
    }
  }
}

// It's just *so ugly* to include the ul margin when they nest.
ul * {
  margin: 0px;
}


