---
layout: default
---
<details>
	<summary>Other Pages</summary>

	<div class="TOC">
		{% assign sorted = site.pages | where_exp: 'item', 'item.section' | sort: 'section' %}
		{% assign section = page.section | default: 'pagenonesuch' %}
		<ul>
			{% for page2 in sorted %}
				{% assign isCurrentPage = section == page2.section %}
				<li><a href="{{ page2.url | absolute_url }}"
						title="{{ page2.section }}: {{ page2.title }}"
						{% if isCurrentPage %} style="font-weight: bold;" {% endif %} >
					{{ page2.section }} : {{ page2.title }}
				</a></li>
			{% endfor %}
		</ul>
	</div>
</details>

<h1>{{ page.title }}</h1>
{{ content }}
